{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
{% if options|length > 0 %}
    <div class="container">
        <a href="/">home</a>
        <h1>Welcome {{ options[0][0].name }}{{ id }}</h1>
        <ul class="list-group">Options you have tried
            {% for option in options %}
                <li class="list-group-item">
                    {{ option[2].option }}
                    <form action="/user_options/{{ option[2].id }}/delete" method='post'>
                        <input type="hidden" name='{{ option[0].id }}' value='{{ option[2].id }}'>
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                    <form action="/comment/add" method="post">
                        <div class="form-group">
                            <input type='hidden' value='{{option[1].id}}' name='user_option_id'>
                            <input type='hidden' value='{{option[0].id}}' name='user_id'>
                            <label for="exampleFormControlTextarea1">Example textarea</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name='comment'></textarea>
                            <input class="btn btn-primary" type="submit" value="Comment">
                        </div>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
        <a href="/">home</a>
        <div class="container">
                You don't have any option stuff
        </div>
    {% endif %}
{% endblock %}