{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
<div class="container">
    <a href="/">home</a>
    <h1>Welcome {{ options[0][0].name }}{{ id }}</h1>
    <ul class="list-group">Options you have tried
        {% for option in options %}
            <li class="list-group-item">
                {{ option[1].option }}
                <form action="/options/{{ option[1].id }}/delete" method='post'>
                    <input type="hidden" name='{{ option[0].id }}' value='{{ option[1].id }}'>
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}